<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Toolbox</title>

  @vite(['src/diff/inertia/app/app.ts', `src/diff/inertia/pages/${page.component}.vue`])
  @inertiaHead()
  <script defer src="https://umami.jrmc.dev/script.js" data-website-id="16a95c20-25e3-4cd9-8e86-885f4039cbab"></script>
</head>

<body class="w-screen min-h-screen font-sans">
  @inertia()
</body>

</html>
