@tailwind base;
@tailwind components;
@tailwind utilities;

.diff {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.line-code {
  color: #333;
  padding: 0 1em;
  text-indent: -7px;
  white-space: pre-wrap;
}

.line-code.comment {
  background-color: #fafafa;
  color: rgb(0 0 0 / 30%);
}

.line-code.deleted {
  background-color: #ffecec;
}

.line-code.inserted {
  background-color: #eaffea;
}

.line-num {
  border: solid #eee;
  border-width: 0 1px 0 0;
  color: rgb(0 0 0 / 30%);
  min-width: 40px;
  padding-right: 0.4em;
  text-align: right;
  vertical-align: top;
  width: 1%;
}

.line-num::before {
  content: attr(data-line-num);
}

.line-num.comment {
  background-color: #fafafa;
}

.line-num.deleted {
  background-color: #fdd;
  border-color: #f1c0c0;
}

.line-num.inserted {
  background-color: #dbffdb;
  border-color: #c1e9c1;
}

@media (prefers-color-scheme: dark) {
  .line-code,
  .line-num {
    background-color: #282828;
    color: #858585;
  }

  .line-code.comment,
  .line-num.comment {
    background-color: #373737;
    color: #858585;
  }

  .line-code.deleted,
  .line-num.deleted {
    background-color: #350101;
  }

  .line-num.deleted {
    border-color: #410d0d;
  }

  .line-code.inserted,
  .line-num.inserted {
    background-color: #082808;
  }

  .line-num.inserted {
    border-color: #003400;
  }

  .line-num,
  .line-num.comment {
    border-color: #282828;
  }
}
